@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html{
    scroll-behavior: smooth;
}

body{
        background-image: url(white.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Acme', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: rgba(0,67,105,0.4);
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(0,67,105,0.8);
    border-radius: 30px;

}

*{
    outline: none !important;
}

.green{
    background-color: #004445;
    border:2px rgb(212, 212, 247);
    padding: 20px;
    margin:40px;
    margin-top: 0px;
    border-bottom-right-radius: 80px;
    color:white;
    
}

.welcomeImg{
    background-size: cover;
    
}

.gray{
    background-color: #ffffff;
    border-top-left-radius: 80px;
    border:20px solid rgb(212, 212, 247);
    padding: 40px;
    padding-bottom: 10px;
    
    
}

.gray p{
    font-size: 12px;
    text-align: center;

}

.noAcc{
    text-align: center;
    margin-top: -20px;
}

.loginLayout{
    margin-top:10px;
    border: 2px solid transparent;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    padding:0px;
    box-shadow: 20px 8px rgba(240, 228, 178, 0.6);
    
}

.loginHead{
    padding: 15px;
    color:#004445;
/*    text-shadow: 2px 2px gray;*/

}

.loginHead h1{
    font-size: 50px !important;
    font-weight: 600;
}

@media(max-width:504px)
{
    .loginHead h1{
    font-size: 40px !important;
    font-weight: 500;
}
}


.section2{
    border-left: 0px;
    background-color: rgb(212, 212, 247);
    border-bottom-right-radius: 80px;
}

.mainBody{
    padding: 40px;
    margin-top: 50px;
   

}


.gray h1{
    color:white;
    text-shadow: 2px 2px lightgray;
    
}

.bg-dark{
    background-color: #004445 !important
}
.navbar
  {
      background-image: linear-gradient(to right, #fdfbfb, #fffdfd);
      padding: 30;
      font-family: 'Nunito', sans-serif;
      box-shadow: 2px 2px 8px rgba(235, 136, 136, 0.5);
     
  }
  .navbar-brand
  {
    height: 30px;
    padding-bottom: 0px;
    font-family: 'Nunito', sans-serif;
    
  }
  li:hover{
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    background-color: #e99c9c;
  }
  
  li{
    width: 115px;
    height: 40px;
    margin: 1px;
    float: left;
    
  }
  
  li a{
    color: #fcfafa;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }